.card{
    border: 3px solid;
    border-radius: 5px;
    overflow: hidden;
    margin: 15px;

    display: flex;
    flex-direction: column; /*muda o padrão no sentido da coluna*/
    min-width: 300px;
    max-width: 300px;
}
.card .title{
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}    
.card .content{
    flex-grow: 1; /*cresce o conteúdo para ocupar o resto do tamanho do card*/
    background-color: #fff;
    color: #000;
    padding: 20px;
}